name: Run Tests on Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'

      - run: npm ci
      - run: npm run prepare
      - run: npm run build
      - run: npm run test
    #   - run: npm run lint
